/* Estilos gerais */
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-bottom: 100px;
}

.container {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Estilos para campos readonly */
.readonly-field {
    background-color: #f0f0f0; /* Cor de fundo para campos readonly */
    border: 1px solid #ccc; /* Borda para campos readonly */
    color: #666; /* Cor do texto para campos readonly */
}

/* Estilos para campos editáveis */
.editable-field {
    background-color: #fff; /* Cor de fundo para campos editáveis */
    border: 1px solid #ccc; /* Borda para campos editáveis */
}


/* Navbar */
.navbar-brand img {
    width: 90px;
    height: 90px;
}

.bg-custom {
    background-color: #80f463;
}

/* Home */
#title-container {
    text-align: center;
    margin-top: 30px;
}

#title-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#title-container p {
    margin-top: 5px;
    color: #666;
}

#posts-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

.post-box {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.post-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-box .post-title {
    font-size: 18px;
    margin: 10px 0;
}

.post-box .post-title a {
    color: #000;
    transition: .5s;
    text-decoration: none;
}

.post-box .post-title a:hover {
    color: #999;
}

/*.post-box */
.post-description {
    color: #535252;
    text-align: justify;
    padding: 5px;
    font-style: italic;
}

/* Post */
#post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 250px;
    text-align: justify;
}

#main-title {
    font-size: 36px;
    margin-bottom: 20px;
}

#post-description {
    padding: 20px;
}

.img-container img {
    width: 100%;
    border-radius: 5px;
}

/* Comment Box */
#comment-box {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#comment-text {
    flex: 1;
    flex-basis: 100%;
    min-width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#comment-box button {
    min-width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#comment-box button:hover {
    background-color: #45a049;
}

/* Comments */
#comments-container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

#comments-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
}

#comment-list {
    list-style: none;
    padding: 0;
}

#comment-list li {
    margin-bottom: 20px;
}

#comment-list p {
    margin-bottom: 5px;
}

#comment-list strong {
    font-weight: bold;
}

/* Post Aside */

#categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
}

#categories-list {
    list-style: none;
    padding: 0;
}

#categories-list li {
    margin-bottom: 5px;
}

#categories-list a {
    color: #666;
    transition: .5s;
    text-decoration: none;
}

#categories-list a:hover {
    color: #000;
}

/* Auth */

/* Edit Profile */
#editProfileForm {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    padding: 5px;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #80f463;
    color: #000000;
    padding: 20px 0;
    margin-top: auto;
}
