* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/* NAVBAR */
#logo {
    position: absolute;
    top: 5px;
    left: 9.5%;
}

#logo img {
    width: 100px;
    color: aqua;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80f463;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
    height: 100px;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: #000000;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
}

#navbar .nav-link:hover {
    color: #999;
}

/* HOME */
#title-container {
    text-align: center;
    margin-top: 30px;
}

#title-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#title-container p {
    margin-top: 5px;
    color: #666;
}

#posts-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

.post-box {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.post-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-box .post-title {
    font-size: 18px;
    margin: 10px 0;
}

.post-box .post-title a {
    color: #000;
    transition: .5s;
    text-decoration: none;
}

.post-box .post-title a:hover {
    color: #999;
}

.post-box .post-description {
    color: #535252;
    text-align: justify;
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 5px;
}

/* POST */
#post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 250px;
    text-align: justify;
}

.content-container {
    flex-basis: calc(85% - 20px);
    margin: 5px;
}

#main-title {
    font-size: 36px;
    margin-bottom: 20px;
}

#post-description {
    font-style: italic;
    margin-bottom: 20px;
}

.post-content {
    line-height: 1.8;
    margin: 10px 0;
    text-align: justify;
}

.img-container img {
    width: 100%;
    border-radius: 5px;
}

/* Comentário Box */
#comment-box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#comment-text {
    flex: 1; /* Ocupa todo o espaço restante */
    flex-basis: 100%;
    min-width: 200px; /* Largura mínima para garantir legibilidade */
    margin-bottom: 20px; /* Espaçamento entre o textarea e o botão */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permite redimensionar verticalmente */
}

#comment-box button {
    min-width: 100px; /* Largura mínima para garantir legibilidade */
    padding: 10px;
    margin-bottom: 30px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#comment-box button:hover {
    background-color: #45a049; /* Cor mais escura ao passar o mouse */
}

/* Comentários */
#comments-container {
    flex-basis: calc(85% - 20px);
    margin-top: 20px;
    padding-top: 10px; /* Adiciona espaço acima do título dos comentários */
    border-top: 1px solid #ccc; /* Adiciona uma linha separadora acima dos comentários */
}

#comments-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
}

#comment-list {
    list-style: none;
    padding: 0;
}

#comment-list li {
    margin-bottom: 20px;
}

#comment-list p {
    margin-bottom: 5px;
}

#comment-list strong {
    font-weight: bold;
}

/* POST ASIDE */
.nav-container {
    flex-basis: 25%;
    margin-left: 100px;
}

#categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
}

#categories-list {
    list-style: none;
    padding: 0;
}

#categories-list li {
    margin-bottom: 5px;
}

#categories-list a {
    color: #666;
    transition: .5s;
    text-decoration: none;
}

#categories-list a:hover {
    color: #000;
}
/* AUTH */
#auth-row {
    display: flex;
    justify-content: center;
}

#login-container,
#register-container {
    width: 400px; /* ou qualquer largura desejada */
}

/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #80f463;
    color: #000000;
    padding: 50px 0;
}
